
<section>
  <dialog class="card" data-element="<%= element.name %>">
        <button class="close">X</button>
        <h2 class="element-name">&lt;<span><%= element.name %></span>&gt;</h2>
        <article class="description"><p> <%= element.description %></p></article>
  </dialog>
</section>
